/* ------------------------------------------------------ */
/*                   Custom CSS                           */
/* ------------------------------------------------------ */

/* Logo */

body:after {
	content: url(./attachments/logo.png);
	position: fixed;
	top: -50px;
	left: -70px;
	z-index: -1;
	scale: 0.5;
}
body:before {
	content: url(./attachments/PrototypeFund-P-Logo.png);
	position: fixed;
	top: -185px;
	left: 50px;
	z-index: -1;
	scale: 0.2;
}
/*
   References: Required workaround to avoid slide overflow,  as it is currently
   not possible to split references across multiple slides.
   
   Note: Increase columns and decrease font size if more space is necessary
*/
#refs, .footnotes-end-of-document{
    column-count: 1;
    font-size: 0.7em;
    text-align: start;
}

.container {
  display: flex;
}

.col {
  flex: 1;
  align-self: center;
}

.col li {
  margin-bottom: 0.5em;
}

mark, mark > * {
    color: var(--r-bold-color) !important;
    background-color: unset;
}

/* ------------------------------------------------------ */
/*                   Overwrite Default CSS                */
/* ------------------------------------------------------ */

.reveal code {
	font-size: 70% !important;
}

.reveal figcaption {
    font-size: 50%;
}

.reveal h1, .reveal h2 {
    margin-bottom: 1em;
}

.reveal h1 {
	font-size: 1.8em !important;
}

/*
   Workaround for the Dracula theme, as it injects a custom `line-style-type`
   glyph through a pseudo ::before marker in front of ever list entry.
*/
.reveal li {
    list-style-type: none;
}

.reveal section img {
	background: white;
	border:none;
	box-shadow: 5px 5px 10px #000;
	padding: 5px;
}

.reveal table td {
	font-size: 70% !important;
	vertical-align: top !important;
}

.reveal .slide-number {
  font-size: 24pt;
  color: #ffffff; }

  
.reveal .slide-background {
      background-size: contain !important;
}


